@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
@media screen and (max-width: 768px) {
  #my-swiper {
    width: 100% !important;
    height: 100% !important;
  }
}

@media screen and (max-width: 480px) {
  #my-swiper {
    width: 100% !important;
    height: 200px !important;
  }
}
